:root {
  --main-white: #fff;
}

/* universal reset */
* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  font-weight: bold;
}

/* box-sizing and font sizing */
/* more info here: https://css-tricks.com/box-sizing/ */
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  /* set font size for easy rem calculations
   * default document font size = 16px, 1rem = 16px, 100% = 16px
   * (100% / 16px) * 10 = 62.5%, 1rem = 10px, 62.5% = 10px
  */
  font-size: 62.5%;
  scroll-behavior: smooth;
}

/* media queries to set font sizes */
/* must use rem unit for size values, margin, and padding */
/* rem is relative to the document's font size */
/* therefore, if we scale up or down on the font size, it will affect all properties using rem units */

/* rem vs. em:  */
/* rem is relative to document font size */
/* em is relative to its neighbor/parent's font size */

/* em units are used for breakpoints */
/* calculation is: */
/* screen size divided by browser base font size */
/* eg. a breakpoint at 980px is: */
/* 980px / 16px = 61.25em */

/* 1200px / 16px = 75em */
@media (max-width: 75em) {
  html {
    font-size: 60%;
  }
}

/* 980px / 16px = 61.25em */
@media (max-width: 61.25em) {
  html {
    font-size: 58%;
  }
}

/* 460px / 16px = 28.75em */
@media (max-width: 28.75em) {
  html {
    font-size: 55%;
  }
}
